.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  position: relative;
  overflow: hidden;
}

.login-box {
  background: rgba(71, 70, 70, 0.85);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px #568f57;
  width: 100%;
  max-width: 400px;
  text-align: center;
  z-index: 1;
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #555;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #5f9d60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #568f57;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.register-link a {
  color: #5f9d60;
  text-decoration: underline;
}

.back-button-container {
  margin-top: 20px;
  text-align: center;
}

.back-button-login {
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button-login:hover {
  background-color: #044848;
}

.red {
  color: red;
  font-size: 20px;
  line-height: 1;
}

.error-message {
  color: #ff4d4f;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #ff4d4f;
}